black
ruff
mypy
tox
sphinx
sphinx_rtd_theme
pytest
pytest-snapshot
numpy
scipy
statsmodels
matplotlib
seaborn
fastcluster
openpyxl
requests
pandas[performance, plot, computation, excel, hdf5]
polars-lts-cpu
ibis-framework[pandas, polars]
scikit-learn
rdkit
anndata
scanpy[leiden]
jupyterlab
line_profiler
memory_profiler
